@media screen and (min-width:1px) and (max-width:319px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px;
        height: 40px;
        width: 100%;
        position: fixed;
        z-index: 2;
        transition: all 0.3s;
    }
    nav .brand img{
        width: 60px;
    }
    nav .nav-lists ul{
        gap:40px;
        display: none;
    }
    .nav-lists  ul li{
        list-style-type: none;
    }
    .nav-lists ul li a{
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        color: white;
    }
    nav .buttons{
        display: none;
    }
    nav .buttons button{
        padding: 12px 40px;
        border-radius: 10px;
        color: black;
        font-size: 16px;
        border: 1px solid orange;
        background-color: orange;
        font-family: Arial, Helvetica, sans-serif;
    }
    nav .buttons button a{
        color: black;
        text-transform: capitalize;
        font-size: 16px;
        text-decoration: none;
    }
    .nav-lines{
        display: flex;
    }
    .nav-lines .fa-solid{
        font-size: 20px;
        color: white;
    }
    .bgcolor{
        background-color: black;
        color: white;
    }

#sidebar{
    display: flex;
    flex-direction: column;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 0%;
    overflow-x: hidden;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 30px 0px;
    transition: all 0.2s;
}
#sidebar .side-brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap:100px;
}
#sidebar .side-brand img{
    width: 100px;
}
#sidebar .side-lists ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    align-items: center;
}
.side-lists ul li{
    list-style-type: none;
}
.side-lists ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.side-brand a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.side-brand .fa-solid{
    font-size: 28px;
}

.side-buttons button{
    padding: 10px 20px;
    color: black;
    font-size: 15px;
    border: 1px solid orange;
    background-color: orange;
} 
.side-buttons button a{
    color: black;
    text-decoration: none;
}
.hero{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
    /* background-attachment:fixed; */
}
.hero h1{
    color: white;
    text-transform: capitalize;
    font-size: 25px;
    padding: 0 20px;
    line-height:30px;
    text-align: center;
}
.hero-but button:nth-child(1){
    padding: 5px 20px;
    border: 2px solid orange;
    outline: 2px solid orange;
    outline-offset: 4px;
    background-color: orange;
    font-size: 10px;
    text-transform: capitalize;
}
.hero-but button:nth-child(1) a{
    color: black;
    text-decoration: none;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
     background: black ;
    padding:100px 30px 50px;
}
.about .left{
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
}
.about .left h1{
    font-size: 25px;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.about .left p{
    font-size: 13px;
    padding:0 10px;
    line-height:20px;
    color: white;
}
.about .left button{
    width: 50%;
    padding: 5px 0;
    background-color: orange;
    border: 2px solid transparent;
    text-transform: capitalize;
    font-size: 10px;
}
.about .right .img-cont{
    width: 150px;
    overflow: hidden; 
    background-color:black;
    outline: 5px solid orange;
}
.about .right img{
    width: 150px;
    transition: all 0.4s;  
}
.right .img-cont:hover img {
    transform: scale(1.8);
    opacity: 85%;
}
.classes{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    background:black;
    align-items: center;
    gap: 50px;
    padding: 100px 0 50px;
}
.classes .class-head h1{
    font-size: 25px;
    text-transform: capitalize;
    color: white;
}
.class-cards{
 display: flex;
 flex-direction: column;
 gap: 50px;
 padding: 0 30px;
}
.class-card-1,.class-card-2,.class-card-3,.class-card-4{
    width: 150px;
    height: fit-content;
    outline: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border-radius: 0 0 ;
    background-color: #222;
    padding-bottom: 30px;
    border-radius: 20px;
    outline: 3px solid orange;
}
.card-1-img img:hover ,.card-2-img img:hover,.card-3-img img:hover,.card-4-img img:hover{
    transform: scale(1.2);
    opacity: 80%;

}
.card-1-img,.card-2-img,.card-3-img,.card-4-img{
    width: 150px;
    height: fit-content;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.class-cards img{
    width: 100%;
    opacity: 100%;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s;
}
.class-cards h1{
    text-transform: capitalize;
    font-size: 15px;
    color: white;
}
.trainers{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding:100px 0 50px;
    gap: 40px;
    justify-content: center;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    align-items: center;
}
.trainers .train-card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.train-head h1{
    font-size: 25px;
    text-transform: capitalize;
    color: white;
}
.train-card .image{
    width: 150px;
    position: relative;
}
.train-card  img{
    width: 100%;
    border-radius: 20px;
}
.train-card .content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s;
}
.content h1{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.content h2{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

.trainers .content:hover{
    opacity: 1;
}
.membership{
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
    gap: 50px;
    }
    .membership h1{
        color: white;
        word-spacing: 2px;
        font-size: 25px;
        text-align: center;
        text-transform: capitalize;
    }
    .mem-cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .mem-card-1,.mem-card-2,.mem-card-3{
        width: 150px;
        border-radius: 10px;
        outline: 1px solid white;
        height: fit-content;
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/images/membership\ card.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        padding: 20px 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .mem-card-1 h2,.mem-card-2 h2,.mem-card-3 h2{
        color: white;
        font-size: 18px;
        text-transform: capitalize;
    }
    .mem-card-1 h1,.mem-card-2 h1,.mem-card-3 h1{
        font-size: 28px;
    }
    .mem-card-1 h1 span,.mem-card-2 span,.mem-card-3 span{
        font-size: 16px;
    }
    .mem-card-1 li .fa-solid,.mem-card-2 li .fa-solid,.mem-card-3 li .fa-solid{
        rotate: 135deg;
        margin-right: 10px;
        font-size: 12px;
    }
    
    .mem-card-1 ul,.mem-card-2 ul,.mem-card-3 ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        list-style-type: none;
        color: white;
        font-size: 12px;
    }
    .mem-card-1 button,.mem-card-2 button,.mem-card-3 button{
        width: 100%;
        border-radius: 0 0 10px 10px;
       padding: 6px 20px;
       background-color: orange;
       border: 2px solid orange;
    }
    .mem-card-1 button a,.mem-card-2 button a,.mem-card-3 button a{
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 12px;
    }
    .contact{
        height: fit-content;
        display: flex;
        flex-direction: column;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        align-items: center;
        justify-content: center;
        padding: 100px 0px 50px;
    }
    .contact .left{
        display: flex;
        width: 150px;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 10px;
        border-top: 5px solid black;
        border-right: 5px solid black;
        border-left:5px solid black;
        border-bottom: none;
        border-radius: 20px 20px 0px 0px;
    }
    .left form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .left h1{
        font-size: 25px;
         word-spacing: 2px;
        text-transform: capitalize;
    }
    .left-form label{
        text-transform: capitalize;
        font-size: 13px;
    }
    .left-form input{
        width: 100%;
        padding: 8px 8px;
        font-size: 12px;
        margin-top: 5px;
        border: 2px solid black;
        background-color: white;
        background-color: transparent;
        color: black;
        border-radius: 5px;
    }
    .left-form .in-4 input{
        border: 2px solid black;
        background-color: orange;
        font-size: 12px;
        border-radius: 10px;
    }
    .contact .right{
        display: flex;
        width: 150px;
        flex-direction: column;
        border-right:5px solid black;
        border-left: 5px solid black;
        border-top: none;
        border-bottom: 5px solid black;
        padding: 60px 10px;
        background-color: orange;
        gap: 20px;
        border-radius: 0 0 20px 20px;
    }
    .contact .right h1{
        font-size: 15px;
        text-transform: capitalize;
    }
    .right-1,.right-2,.right-3{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .right-1 p,.right-2 p,.right-3 p{
        font-size: 10px;
        text-transform: capitalize;
    }
    .right-4{
        display: flex;
        gap: 30px;
    }
    .right-4 .fa-brands{
        font-size: 20px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        font-size: 15px;
        text-transform:capitalize;
    }
}

@media screen and (min-width:320px) and (max-width:480px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px;
        height: 40px;
        width: 100%;
        position: fixed;
        z-index: 2;
        transition: all 0.3s;
    }
    nav .brand img{
        width: 90px;
    }
    nav .nav-lists ul{
        gap:40px;
        display: none;
    }
    .nav-lists  ul li{
        list-style-type: none;
    }
    .nav-lists ul li a{
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        color: white;
    }
    nav .buttons{
        display: none;
    }
    nav .buttons button{
        padding: 12px 40px;
        border-radius: 10px;
        color: black;
        font-size: 16px;
        border: 1px solid orange;
        background-color: orange;
        font-family: Arial, Helvetica, sans-serif;
    }
    nav .buttons button a{
        color: black;
        text-transform: capitalize;
        font-size: 16px;
        text-decoration: none;
    }
    .nav-lines{
        display: flex;
    }
    .nav-lines .fa-solid{
        font-size: 30px;
        color: white;
    }
    .bgcolor{
        background-color: black;
        color: white;
    }

#sidebar{
    display: flex;
    flex-direction: column;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 0%;
    overflow-x: hidden;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 30px 0px;
    transition: all 0.2s;
}
#sidebar .side-brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap:100px;
}
#sidebar .side-brand img{
    width: 100px;
}
#sidebar .side-lists ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    align-items: center;
}
.side-lists ul li{
    list-style-type: none;
}
.side-lists ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}
.side-brand a{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.side-brand .fa-solid{
    font-size: 28px;
}

.side-buttons button{
    padding: 10px 30px;
    color: black;
    font-size: 15px;
    border: 1px solid orange;
    background-color: orange;
} 
.side-buttons button a{
    color: black;
    text-decoration: none;
}
.hero{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
    /* background-attachment:fixed; */
}
.hero h1{
    color: white;
    text-transform: capitalize;
    font-size: 45px;
    padding: 0 20px;
    line-height:55px;
    text-align: center;
}
.hero-but button:nth-child(1){
    padding: 6px 30px;
    border: 2px solid orange;
    outline: 2px solid orange;
    outline-offset: 4px;
    background-color: orange;
    font-size: 15px;
    text-transform: capitalize;
}
.hero-but button:nth-child(1) a{
    color: black;
    text-decoration: none;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
     background: black ;
    padding:100px 30px 50px;
}
.about .left{
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
}
.about .left h1{
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.about .left p{
    font-size: 16px;
    padding:0 10px;
    line-height:25px;
    color: white;
}
.about .left button{
    width: 35%;
    padding: 10px 0;
    background-color: orange;
    border: 2px solid transparent;
    text-transform: capitalize;
    font-size: 14px;
}
.about .right .img-cont{
    width: 300px;
    overflow: hidden; 
    background-color:black;
    outline: 5px solid orange;
}
.about .right img{
    width: 300px;
    transition: all 0.4s;  
}
.right .img-cont:hover img {
    transform: scale(1.8);
    opacity: 85%;
}
.classes{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    background:black;
    align-items: center;
    gap: 50px;
    padding: 100px 0 50px;
}
.classes .class-head h1{
    font-size: 30px;
    text-transform: capitalize;
    color: white;
}
.class-cards{
 display: flex;
 flex-direction: column;
 gap: 50px;
 padding: 0 30px;
}
.class-card-1,.class-card-2,.class-card-3,.class-card-4{
    width: 250px;
    height: fit-content;
    outline: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border-radius: 0 0 ;
    background-color: #222;
    padding-bottom: 30px;
    border-radius: 20px;
    outline: 3px solid orange;
}
.card-1-img img:hover ,.card-2-img img:hover,.card-3-img img:hover,.card-4-img img:hover{
    transform: scale(1.2);
    opacity: 80%;

}
.card-1-img,.card-2-img,.card-3-img,.card-4-img{
    width: 250px;
    height: fit-content;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.class-cards img{
    width: 100%;
    opacity: 100%;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s;
}
.class-cards h1{
    text-transform: capitalize;
    font-size: 20px;
    color: white;
}
.trainers{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding:100px 0 50px;
    gap: 40px;
    justify-content: center;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    align-items: center;
}
.trainers .train-card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.train-head h1{
    font-size: 30px;
    text-transform: capitalize;
    color: white;
}
.train-card .image{
    width: 250px;
    position: relative;
}
.train-card  img{
    width: 100%;
    border-radius: 20px;
}
.train-card .content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s;
}
.content h1{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
}
.content h2{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
}

.trainers .content:hover{
    opacity: 1;
}
.membership{
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
    gap: 50px;
    }
    .membership h1{
        color: white;
        word-spacing: 2px;
        font-size: 30px;
        text-align: center;
        text-transform: capitalize;
    }
    .mem-cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .mem-card-1,.mem-card-2,.mem-card-3{
        width: 300px;
        border-radius: 10px;
        outline: 1px solid white;
        height: fit-content;
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/images/membership\ card.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        padding: 20px 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .mem-card-1 h2,.mem-card-2 h2,.mem-card-3 h2{
        color: white;
        font-size: 22px;
        text-transform: capitalize;
    }
    .mem-card-1 h1,.mem-card-2 h1,.mem-card-3 h1{
        font-size: 33px;
    }
    .mem-card-1 h1 span,.mem-card-2 span,.mem-card-3 span{
        font-size: 16px;
    }
    .mem-card-1 li .fa-solid,.mem-card-2 li .fa-solid,.mem-card-3 li .fa-solid{
        rotate: 135deg;
        margin-right: 10px;
        font-size: 14px;
    }
    
    .mem-card-1 ul,.mem-card-2 ul,.mem-card-3 ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        list-style-type: none;
        color: white;
        font-size: 15px;
    }
    .mem-card-1 button,.mem-card-2 button,.mem-card-3 button{
        width: 100%;
        border-radius: 0 0 10px 10px;
       padding: 6px 20px;
       background-color: orange;
       border: 2px solid orange;
    }
    .mem-card-1 button a,.mem-card-2 button a,.mem-card-3 button a{
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 15px;
    }
    .contact{
        height: fit-content;
        display: flex;
        flex-direction: column;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        align-items: center;
        justify-content: center;
        padding: 100px 0px 50px;
    }
    .contact .left{
        display: flex;
        width: 300px;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 30px;
        border-top: 5px solid black;
        border-right: 5px solid black;
        border-left:5px solid black;
        border-bottom: none;
        border-radius: 20px 20px 0px 0px;
    }
    .left form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .left h1{
        font-size: 30px;
         word-spacing: 2px;
        text-transform: capitalize;
    }
    .left-form label{
        text-transform: capitalize;
        font-size: 16px;
    }
    .left-form input{
        width: 100%;
        padding: 8px 8px;
        font-size: 14px;
        margin-top: 5px;
        border: 2px solid black;
        background-color: white;
        background-color: transparent;
        color: black;
        border-radius: 5px;
    }
    .left-form .in-4 input{
        border: 2px solid black;
        background-color: orange;
        font-size: 14px;
        border-radius: 10px;
    }
    .contact .right{
        display: flex;
        width: 300px;
        flex-direction: column;
        border-right:5px solid black;
        border-left: 5px solid black;
        border-top: none;
        border-bottom: 5px solid black;
        padding: 60px 40px;
        background-color: orange;
        gap: 30px;
        border-radius: 0 0 20px 20px;
    }
    .contact .right h1{
        font-size: 22px;
        text-transform: capitalize;
    }
    .right-1,.right-2,.right-3{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .right-1 p,.right-2 p,.right-3 p{
        font-size: 16px;
        text-transform: capitalize;
    }
    .right-4{
        display: flex;
        gap: 30px;
    }
    .right-4 .fa-brands{
        font-size: 30px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        font-size: 18px;
        text-transform:capitalize;
    }
    
}
@media screen and (min-width:481px) and (max-width:768px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 2;
        transition: all 0.3s;
    }
    nav .brand img{
        width: 105px;
    }
    nav .nav-lists ul{
        gap:40px;
        display: none;
    }
    .nav-lists  ul li{
        list-style-type: none;
    }
    .nav-lists ul li a{
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        color: white;
    }
    nav .buttons{
        display: none;
    }
    nav .buttons button{
        padding: 12px 40px;
        border-radius: 10px;
        color: black;
        font-size: 16px;
        border: 1px solid orange;
        background-color: orange;
    }
    nav .buttons button a{
        color: black;
        text-transform: capitalize;
        font-size: 16px;
        text-decoration: none;
    }
    .nav-lines{
        display: flex;
    }
    .nav-lines .fa-solid{
        font-size: 35px;
        color: white;
    }
    .bgcolor{
        background-color: black;
        color: white;
    }

#sidebar{
    display: flex;
    flex-direction: column;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 0%;
    overflow-x: hidden;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    z-index: 2;
    padding: 30px 0px;
    transition: all 0.2s;
}
#sidebar .side-brand{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    gap:100px;
}
#sidebar .side-brand img{
    width: 110px;
}
#sidebar .side-lists ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    align-items: center;
}
.side-lists ul li{
    list-style-type: none;
}
.side-lists ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.side-brand a{
    font-size: 35px;
    text-decoration: none;
    color: black;
}
.side-brand .fa-solid{
    font-size: 35px;
}

.side-buttons button{
    padding: 13px 40px;
    color: black;
    font-size: 15px;
    border: 1px solid orange;
    background-color: orange;
} 
.side-buttons button a{
    color: black;
    text-decoration: none;
}
.hero{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.hero h1{
    color: white;
    text-transform: capitalize;
    font-size: 55px;
    padding: 0 20px;
    line-height:60px;
    text-align: center;
}
.hero-but button:nth-child(1){
    padding: 8px 40px;
    border: 2px solid orange;
    outline: 2px solid orange;
    outline-offset: 4px;
    background-color: orange;
    font-size: 15px;
    text-transform: capitalize;
}
.hero-but button:nth-child(1) a{
    color: black;
    text-decoration: none;
}
.about{
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
     background: black ;
    padding:100px 30px 50px;
}
.about .left{
display: flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
}
.about .left h1{
    font-size: 40px;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.about .left p{
    font-size: 18px;
    padding:0 30px;
    line-height:10px;
    line-height: 30px;
    color: white;
}
.about .left button{
    width: 38%;
    padding: 12px 0;
    background-color: orange;
    border: 2px solid transparent;
    text-transform: capitalize;
    font-size: 14px;
}
.about .right .img-cont{
    width: 380px;
    overflow: hidden; 
    background-color:black;
    outline: 5px solid orange;
}
.about .right img{
    width: 380px;
    transition: all 0.4s;  
}
.right .img-cont:hover img {
    transform: scale(1.8);
    opacity: 85%;
}
.classes{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    background:black;
    align-items: center;
    gap: 50px;
    padding: 100px 0 50px;
}
.classes .class-head h1{
    font-size: 40px;
    text-transform: capitalize;
    color: white;
}
.class-cards{
 display: flex;
 flex-direction: column;
 gap: 50px;
 padding: 0 30px;
}
.class-card-1,.class-card-2,.class-card-3,.class-card-4{
    width: 300px;
    height: fit-content;
    outline: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border-radius: 0 0 ;
    background-color: #222;
    padding-bottom: 30px;
    border-radius: 20px;
    outline: 3px solid orange;
}
.card-1-img img:hover ,.card-2-img img:hover,.card-3-img img:hover,.card-4-img img:hover{
    transform: scale(1.2);
    opacity: 80%;

}
.card-1-img,.card-2-img,.card-3-img,.card-4-img{
    width: 300px;
    height: fit-content;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.class-cards img{
    width: 100%;
    opacity: 100%;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s;
}
.class-cards h1{
    text-transform: capitalize;
    font-size: 24px;
    color: white;
}
.trainers{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding:100px 0 50px;
    gap: 40px;
    justify-content: center;
    background: linear-gradient(93deg, #333 35%, #222 63%);
    align-items: center;
}
.trainers .train-card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.train-head h1{
    font-size: 40px;
    text-transform: capitalize;
    color: white;
}
.train-card .image{
    width: 280px;
    position: relative;
}
.train-card  img{
    width: 100%;
    border-radius: 20px;
}
.train-card .content{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s;
}
.content h1{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
}
.content h2{
    color: white;
    font-size: 24px;
    text-transform: capitalize;
}

.trainers .content:hover{
    opacity: 1;
}
.membership{
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
    gap: 50px;
    }
    .membership h1{
        color: white;
        font-size: 40px;
        text-transform: capitalize;
    }
    .mem-cards{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .mem-card-1,.mem-card-2,.mem-card-3{
        width: 350px;
        border-radius: 10px;
        outline: 1px solid white;
        height: fit-content;
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/images/membership\ card.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        padding: 20px 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .mem-card-1 h2,.mem-card-2 h2,.mem-card-3 h2{
        color: white;
        font-size: 24px;
        text-transform: capitalize;
    }
    .mem-card-1 h1,.mem-card-2 h1,.mem-card-3 h1{
        font-size: 38px;
    }
    .mem-card-1 h1 span,.mem-card-2 span,.mem-card-3 span{
        font-size: 18px;
    }
    .mem-card-1 li .fa-solid,.mem-card-2 li .fa-solid,.mem-card-3 li .fa-solid{
        rotate: 135deg;
        margin-right: 10px;
        font-size: 16px;
    }
    
    .mem-card-1 ul,.mem-card-2 ul,.mem-card-3 ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        list-style-type: none;
        color: white;
        font-size: 18px;
    }
    .mem-card-1 button,.mem-card-2 button,.mem-card-3 button{
        width: 100%;
        border-radius: 0 0 10px 10px;
       padding: 9px 20px;
       background-color: orange;
       border: 2px solid orange;
    }
    .mem-card-1 button a,.mem-card-2 button a,.mem-card-3 button a{
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 18px;
    }
    .contact{
        height: fit-content;
        display: flex;
        flex-direction: column;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        align-items: center;
        justify-content: center;
        padding: 100px 0 50px;
    }
    .contact .left{
        display: flex;
        width: 420px;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 40px;
        border-top: 5px solid black;
        border-right: 5px solid black;
        border-left:5px solid black;
        border-bottom: none;
        border-radius: 20px 20px 0px 0px;
    }
    .left form{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .left h1{
        font-size: 38px;
        text-transform: capitalize;
    }
    .left-form label{
        text-transform: capitalize;
        font-size: 18px;
    }
    .left-form input{
        width: 100%;
        padding: 10px 8px;
        font-size: 14px;
        margin-top: 5px;
        border: 2px solid black;
        background-color: white;
        background-color: transparent;
        color: black;
        border-radius: 5px;
    }
    .left-form .in-4 input{
        border: 2px solid black;
        background-color: orange;
        font-size: 18px;
        border-radius: 10px;
    }
    .contact .right{
        display: flex;
        width: 420px;
        flex-direction: column;
        border-right:5px solid black;
        border-left: 5px solid black;
        border-top: none;
        border-bottom: 5px solid black;
        padding: 60px 40px;
        background-color: orange;
        gap: 30px;
        border-radius: 0 0 20px 20px;
    }
    .contact .right h1{
        font-size: 26px;
        text-transform: capitalize;
    }
    .right-1,.right-2,.right-3{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .right-1 p,.right-2 p,.right-3 p{
        font-size: 18px;
        text-transform: capitalize;
    }
    .right-4{
        display: flex;
        gap: 30px;
    }
    .right-4 .fa-brands{
        font-size: 35px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        font-size: 20px;
        text-transform:capitalize;
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    /* NAVBAR */
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 2;
        transition: all 0.3s;
    }
    nav .brand img{
        width: 100px;
    }
    nav .nav-lists ul{
        display: flex;
        gap:30px;
    }
    .nav-lists  ul li{
        list-style-type: none;
    }
    .nav-lists ul li a{
        text-decoration: none;
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
    .nav-lists button{
        padding: 8px 20px;
        border-radius: 10px;
        color: black;
        font-size: 14px;
        border: 1px solid orange;
        background-color: orange;
    }
    .nav-lists button a{
        color: black;
        text-transform: capitalize;
        font-size: 16px;
        text-decoration: none;
    }
    .nav-lines{
        display: none;
    }
    .nav-lines .fa-solid{
        font-size: 30px;
        color: white;
    }
    .bgcolor{
        background-color: black;
        color: white;
    }
    /* SIDEBAR */
    
    #sidebar{
        display: flex;
        flex-direction: column;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 0%;
        overflow-x: hidden;
        justify-content: space-between;
        height: 100%;
        position: fixed;
        z-index: 1;
        padding: 30px 0px;
        transition: all 0.4s;
    }
    #sidebar .side-brand{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        gap:100px;
    }
    #sidebar .side-brand img{
        width: 130px;
    }
    #sidebar .side-lists ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: black;
        align-items: center;
    }
    .side-lists ul li{
        list-style-type: none;
    }
    .side-lists ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
    }
    .side-brand a{
        font-size: 30px;
        text-decoration: none;
        color: black;
    }
    .side-brand .fa-solid{
        font-size: 28px;
    }
    aside .side-buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .side-buttons button{
        padding: 10px 30px;
        color: black;
        font-size: 16px;
        border: 1px solid orange;
        background-color: orange;
    } 
    /* HERO SECTION */
    .hero{
        height: 100vh;
        background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/images/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        
        /* background-attachment:fixed; */
    }
    .hero h1{
        color: white;
        text-transform: capitalize;
        font-size: 70px;
        padding: 0 40px;
        line-height: 80px;
        text-align: center;
    }
    .hero-but{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .hero-but button:nth-child(1){
        padding: 17px 65px;
        border: 2px solid orange;
        outline: 2px solid orange;
        outline-offset: 4px;
        background-color: orange;
        font-size: 18px;
        text-transform: capitalize;
    }
    .hero-but button:nth-child(1) a{
        color: black;
        text-decoration: none;
    }
    /* ABOUT */
    .about{
        display: flex;
        flex-direction: column;
        gap: 60px;
        height: fit-content;
        align-items: center;
        justify-content: space-around;
         background: black ;
        padding:80px 30px 50px;
    }
    .about .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    }
    .about .left h1{
        font-size: 40px;
        color: white;
        text-transform: capitalize;
        text-align: center;
    }
    .about .left p{
        font-size: 14px;
        padding:0 60px;
        line-height:10px;
        line-height: 30px;
        color: white;
    }
    .about .left button{
        width: 38%;
        padding: 12px 0;
        background-color: orange;
        border: 2px solid transparent;
        text-transform: capitalize;
        font-size: 14px;
    }
    .about .right .img-cont{
        width: 380px;
        overflow: hidden; 
        background-color:black;
        outline: 5px solid orange;
    }
    .about .right img{
        width: 380px;
        transition: all 0.4s;  
    }
    .right .img-cont:hover img {
        transform: scale(1.8);
        opacity: 85%;
    }
    .classes{
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        background:black;
        align-items: center;
        gap: 50px;
        padding: 80px 0 50px;
    }
    .classes .class-head h1{
        font-size: 50px;
        text-transform: capitalize;
        color: white;
    }
    .class-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
     padding: 0 30px;
    }
    .class-card-1,.class-card-2,.class-card-3,.class-card-4{
        width: 320px;
        height: fit-content;
        outline: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        text-align: center;
        border-radius: 0 0 ;
        background-color: #222;
        padding-bottom: 30px;
        border-radius: 20px;
        outline: 3px solid orange;
    }
    .card-1-img img:hover ,.card-2-img img:hover,.card-3-img img:hover,.card-4-img img:hover{
        transform: scale(1.2);
        opacity: 80%;
    
    }
    .card-1-img,.card-2-img,.card-3-img,.card-4-img{
        width: 320px;
        height: fit-content;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
    }
    .class-cards img{
        width: 100%;
        opacity: 100%;
        border-radius: 20px 20px 0 0;
        transition: all 0.4s;
    }
    .class-cards h1{
        text-transform: capitalize;
        color: white;
        font-size: 25px;
    }
    /* Trainers Section */
    .trainers{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding:80px 0 50px;
        gap: 40px;
        justify-content: center;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        align-items: center;
    }
    .trainers .train-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .train-head h1{
        font-size: 50px;
        text-transform: capitalize;
        color: white;
    }
    .train-card .image{
        outline: 5px solid black;
        background-color: black;
        border-radius: 10px;
        width: 280px;
        position: relative;
    }
    .train-card  img{
        width: 100%;
        border-radius: 20px;
    }
    .train-card .content{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.4s;
    }
    .content h1{
        color: white;
        font-size: 40px;
        text-transform: capitalize;
    }
    .content h2{
        color: white;
        font-size: 20px;
        text-transform: capitalize;
    }
    .content p{
        color: white;
        padding: 0 20px;
        text-align: center;
    }
    .trainers .content:hover{
        opacity: 1;
    }
    .membership{
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 50px;
    gap: 50px;
    }
    .membership h1{
        color: white;
        font-size: 50px;
        text-transform: capitalize;
    }
    .mem-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
    }
    .mem-card-1,.mem-card-2,.mem-card-3{
        width: 320px;
        border-radius: 10px;
        outline: 1px solid white;
        height: 400px;
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/images/membership\ card.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .mem-card-1 h2,.mem-card-2 h2,.mem-card-3 h2{
        color: white;
        font-size: 23px;
        text-transform: capitalize;
    }
    .mem-card-1 h1,.mem-card-2 h1,.mem-card-3 h1{
        font-size: 42px;
    }
    .mem-card-1 h1 span,.mem-card-2 span,.mem-card-3 span{
        font-size: 19px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        text-transform: capitalize;
    }
    .mem-card-1 li .fa-solid,.mem-card-2 li .fa-solid,.mem-card-3 li .fa-solid{
        rotate: 135deg;
        margin-right: 10px;
    }
    
    .mem-card-1 ul,.mem-card-2 ul,.mem-card-3 ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        list-style-type: none;
        color: white;
    }
    .mem-card-1 button,.mem-card-2 button,.mem-card-3 button{
       padding: 10px 30px;
       background-color: orange;
       border: 2px solid orange;
    }
    .mem-card-1 button a,.mem-card-2 button a,.mem-card-3 button a{
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 16px;
    }
    .contact{
        height: fit-content;
        display: flex;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        padding: 100px 0 50px;
        align-items: center;
    }
    .contact .left{
        display: flex;
        flex-direction: column;
        gap: 28px;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 30px 30px;
        border-left:5px solid black;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        border-radius: 20px 0px 0px 20px;
    }
    .left form{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .left h1{
        font-size: 30px;
        text-transform: capitalize;
    }
    .left-form label{
        text-transform: capitalize;
    }
    .left-form input{
        width: 100%;
        padding: 8px 8px;
        font-size: 14px;
        margin-top: 5px;
        border: 2px solid black;
        background-color: white;
        background-color: transparent;
        color: black;
        border-radius: 5px;
    }
    .left-form .in-4 input{
        border: 2px solid black;
        background-color: orange;
        font-size: 14px;
        border-radius: 10px;
    }
    .contact .right{
        display: flex;
        flex-direction: column;
        border-right:5px solid black;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        padding: 40px 30px;
        background-color: orange;
        gap: 45px;
        border-radius: 0 20px 20px 0;
    }
    .contact .right h1{
        font-size: 24px;
        text-transform: capitalize;
    }
    .right-1,.right-2,.right-3{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .right-1 p,.right-2 p,.right-3 p{
        font-size: 16px;
        text-transform: capitalize;
    }
    .right-4{
        display: flex;
        gap: 30px;
    }
    .right-4 .fa-brands{
        font-size: 32px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        font-size: 22px;
        text-transform:capitalize;
    }
    
}
@media screen and (min-width:1025px) and (max-width:1200px) {
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 40px;
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 2;
        transition: all 0.3s;
    }
    nav .brand img{
        width: 100px;
    }
    nav .nav-lists ul{
        display: flex;
        gap:30px;
    }
    .nav-lists  ul li{
        list-style-type: none;
    }
    .nav-lists ul li a{
        text-decoration: none;
        font-size: 16px;
        text-transform: capitalize;
        color: white;
    }
    .nav-lists button{
        padding: 8px 20px;
        border-radius: 10px;
        color: black;
        font-size: 14px;
        border: 1px solid orange;
        background-color: orange;
    }
    .nav-lists button a{
        color: black;
        text-transform: capitalize;
        font-size: 16px;
        text-decoration: none;
    }
    .nav-lines{
        display: none;
    }
    .nav-lines .fa-solid{
        font-size: 30px;
        color: white;
    }
    .bgcolor{
        background-color: black;
        color: white;
    }
    /* SIDEBAR */
    
    #sidebar{
        display: flex;
        flex-direction: column;
        background:black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 0%;
        overflow-x: hidden;
        justify-content: space-between;
        height: 100%;
        position: fixed;
        z-index: 1;
        padding: 30px 0px;
        transition: all 0.4s;
    }
    #sidebar .side-brand{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        gap:100px;
    }
    #sidebar .side-brand img{
        width: 130px;
    }
    #sidebar .side-lists ul{
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: black;
        align-items: center;
    }
    .side-lists ul li{
        list-style-type: none;
    }
    .side-lists ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
    }
    .side-brand a{
        font-size: 30px;
        text-decoration: none;
        color: black;
    }
    .side-brand .fa-solid{
        font-size: 28px;
    }
    aside .side-buttons{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .side-buttons button{
        padding: 10px 30px;
        color: black;
        font-size: 16px;
        border: 1px solid orange;
        background-color: orange;
    } 
    /* HERO SECTION */
    .hero{
        height: 100vh;
        background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(/images/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        
        /* background-attachment:fixed; */
    }
    .hero h1{
        color: white;
        text-transform: capitalize;
        font-size: 70px;
        padding: 0 40px;
        line-height: 80px;
        text-align: center;
    }
    .hero-but{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .hero-but button:nth-child(1){
        padding: 17px 65px;
        border: 2px solid orange;
        outline: 2px solid orange;
        outline-offset: 4px;
        background-color: orange;
        font-size: 18px;
        text-transform: capitalize;
    }
    .hero-but button:nth-child(1) a{
        color: black;
        text-decoration: none;
    }
    /* ABOUT */
    .about{
        display: flex;
        flex-direction: column;
        gap: 60px;
        height: fit-content;
        align-items: center;
        justify-content: space-around;
         background: black ;
        padding:80px 30px 50px;
    }
    .about .left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    }
    .about .left h1{
        font-size: 40px;
        color: white;
        text-transform: capitalize;
        text-align: center;
    }
    .about .left p{
        font-size: 14px;
        padding:0 60px;
        line-height:10px;
        line-height: 30px;
        color: white;
    }
    .about .left button{
        width: 38%;
        padding: 12px 0;
        background-color: orange;
        border: 2px solid transparent;
        text-transform: capitalize;
        font-size: 14px;
    }
    .about .right .img-cont{
        width: 380px;
        overflow: hidden; 
        background-color:black;
        outline: 5px solid orange;
    }
    .about .right img{
        width: 380px;
        transition: all 0.4s;  
    }
    .right .img-cont:hover img {
        transform: scale(1.8);
        opacity: 85%;
    }
    .classes{
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        background:black;
        align-items: center;
        gap: 50px;
        padding: 80px 0 50px;
    }
    .classes .class-head h1{
        font-size: 50px;
        text-transform: capitalize;
        color: white;
    }
    .class-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
     padding: 0 30px;
    }
    .class-card-1,.class-card-2,.class-card-3,.class-card-4{
        width: 320px;
        height: fit-content;
        outline: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        text-align: center;
        border-radius: 0 0 ;
        background-color: #222;
        padding-bottom: 30px;
        border-radius: 20px;
        outline: 3px solid orange;
    }
    .card-1-img img:hover ,.card-2-img img:hover,.card-3-img img:hover,.card-4-img img:hover{
        transform: scale(1.2);
        opacity: 80%;
    
    }
    .card-1-img,.card-2-img,.card-3-img,.card-4-img{
        width: 320px;
        height: fit-content;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
    }
    .class-cards img{
        width: 100%;
        opacity: 100%;
        border-radius: 20px 20px 0 0;
        transition: all 0.4s;
    }
    .class-cards h1{
        text-transform: capitalize;
        color: white;
        font-size: 25px;
    }
    /* Trainers Section */
    .trainers{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding:80px 0 50px;
        gap: 40px;
        justify-content: center;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        align-items: center;
    }
    .trainers .train-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .train-head h1{
        font-size: 50px;
        text-transform: capitalize;
        color: white;
    }
    .train-card .image{
        outline: 5px solid black;
        background-color: black;
        border-radius: 10px;
        width: 280px;
        position: relative;
    }
    .train-card  img{
        width: 100%;
        border-radius: 20px;
    }
    .train-card .content{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.4s;
    }
    .content h1{
        color: white;
        font-size: 40px;
        text-transform: capitalize;
    }
    .content h2{
        color: white;
        font-size: 20px;
        text-transform: capitalize;
    }
    .content p{
        color: white;
        padding: 0 20px;
        text-align: center;
    }
    .trainers .content:hover{
        opacity: 1;
    }
    .membership{
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 50px;
    gap: 50px;
    }
    .membership h1{
        color: white;
        font-size: 50px;
        text-transform: capitalize;
    }
    .mem-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
    }
    .mem-card-1,.mem-card-2,.mem-card-3{
        width: 320px;
        border-radius: 10px;
        outline: 1px solid white;
        height: 400px;
        background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(/images/membership\ card.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .mem-card-1 h2,.mem-card-2 h2,.mem-card-3 h2{
        color: white;
        font-size: 23px;
        text-transform: capitalize;
    }
    .mem-card-1 h1,.mem-card-2 h1,.mem-card-3 h1{
        font-size: 42px;
    }
    .mem-card-1 h1 span,.mem-card-2 span,.mem-card-3 span{
        font-size: 19px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        text-transform: capitalize;
    }
    .mem-card-1 li .fa-solid,.mem-card-2 li .fa-solid,.mem-card-3 li .fa-solid{
        rotate: 135deg;
        margin-right: 10px;
    }
    
    .mem-card-1 ul,.mem-card-2 ul,.mem-card-3 ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mem-card-1 li,.mem-card-2 li,.mem-card-3 li{
        list-style-type: none;
        color: white;
    }
    .mem-card-1 button,.mem-card-2 button,.mem-card-3 button{
       padding: 10px 30px;
       background-color: orange;
       border: 2px solid orange;
    }
    .mem-card-1 button a,.mem-card-2 button a,.mem-card-3 button a{
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 16px;
    }
    .contact{
        height: fit-content;
        display: flex;
        background: linear-gradient(93deg, #333 35%, #222 63%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        padding: 100px 0 50px;
        align-items: center;
    }
    .contact .left{
        display: flex;
        flex-direction: column;
        gap: 28px;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 30px 30px;
        border-left:5px solid black;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        border-radius: 20px 0px 0px 20px;
    }
    .left form{
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .left h1{
        font-size: 30px;
        text-transform: capitalize;
    }
    .left-form label{
        text-transform: capitalize;
    }
    .left-form input{
        width: 100%;
        padding: 8px 8px;
        font-size: 14px;
        margin-top: 5px;
        border: 2px solid black;
        background-color: white;
        background-color: transparent;
        color: black;
        border-radius: 5px;
    }
    .left-form .in-4 input{
        border: 2px solid black;
        background-color: orange;
        font-size: 14px;
        border-radius: 10px;
    }
    .contact .right{
        display: flex;
        flex-direction: column;
        border-right:5px solid black;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        padding: 40px 30px;
        background-color: orange;
        gap: 45px;
        border-radius: 0 20px 20px 0;
    }
    .contact .right h1{
        font-size: 24px;
        text-transform: capitalize;
    }
    .right-1,.right-2,.right-3{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .right-1 p,.right-2 p,.right-3 p{
        font-size: 16px;
        text-transform: capitalize;
    }
    .right-4{
        display: flex;
        gap: 30px;
    }
    .right-4 .fa-brands{
        font-size: 32px;
    }
    footer{
        background-color: black;
        color: white;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer p{
        font-size: 24px;
        text-transform:capitalize;
    }
    
}
